<h1>{{ my_post.post_title }}</h1>
<h3>{{ my_post.post_pubdate }}</h3>

<p>{{ my_post.post_body }}</p>
<br>
<p class="tags">Tags: {{ my_post.tags.all | join:", " }}</p>
<hr><br>
{% with comments.count as total_comments %}
<h2>
	{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}

{% if new_comment %}
	<h2>Your comment has been added.</h2>
{% else %}
	<h2>Add a new comment</h2>
	<form method="post">
		{{ comment_form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Add comment"></p>
	</form><br>
{% endif %}

{% for comment in comments %}

<div class="comment">
	<p class="info">
	Comment {{ forloop.counter }} by {{ comment.name }}
	{{ comment.created }}
	</p>
	{{ comment.body|linebreaks }}
	<hr>
</div>
{% empty %}
	<p>There are no comments yet.</p><hr>
{% endfor %}
<br><br><p>All rights reserved</p>

