<h1>{{ my_post.post_title }}</h1>
<h3>{{ my_post.post_pubdate }}</h3>

<p>{{ my_post.post_body }}</p>
<br>
<p class="tags">Tags:
{% for tag in my_post.tags.all %}
<a href="{% url 'blog:posts_by_tag' tag.slug %}">{{ tag.name }}</a>
{% if not forloop.last %}, {% endif %}
{% endfor %}
</p>
<hr><br>
{% with comments.count as total_comments %}
<h2>
	{{ total_comments }} comment{{ total_comments|pluralize }}
</h2>
{% endwith %}

{% if request.user.is_authenticated %}

{% if new_comment %}
	<h2>Your comment has been added.</h2>
{% else %}
	<h2>Add a new comment</h2>
	<form method="post">
		{{ comment_form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="Add comment"></p>
	</form><br>
{% endif %}

{% else %}

	<p>For adding a new comment you need to <a href="{% url 'account:login' %}">log in</a> first.

{% endif %}

{% for comment in comments %}

<div class="comment">
	<p class="info">
	Comment {{ forloop.counter }} by {{ comment.user.first_name }}
	{{ comment.created }}
	</p>
	{{ comment.body|linebreaks }}
	<hr>
</div>
{% empty %}
<br><br>
	<p>There are no comments yet.</p><hr>
{% endfor %}

<br><br><p>All rights reserved</p>

